<nav class="navbar navbar-expand-lg mb-4 fixed-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        class=""
        src="../../assets/images/logo.png"
        alt="logo"
        style="width: 100px;"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="togglerNavBar()"
      data-toggle="collapse"
      data-target="#navbarText"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarText"
      [ngClass]="{ show: isOpen }"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact-s">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="main-header d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <h1>
          we provide <br /><span>solutions</span><br />
          for your business!
        </h1>
        <div class="row btns-header">
          <button class="btn btn-primary rounded-pill btn1">Get Started</button>
          <button class="btn btn-outline rounded-pill border border-white">
            Our Services
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <img
          class="intro-img img-fluid"
          src="../../assets/images/intro-img.svg"
          alt="intro-img"
        />
      </div>
    </div>
  </div>
</header>
