.main-header{
    background-image: url('../../assets/images/intro-bg.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    color: #fff;
    margin-top: 50px;
    overflow: hidden;
}
.main-header h1{
    font-weight: bold;
    font-size: 50px;
    max-width: 900px;
    line-height: 1.5;
}

@media(max-width:992px){
    .main-header h1{
      text-align: center;
      left: auto;
      max-width: 100%;
      font-size: 30px;
    }
  }

.main-header h1 span{
    text-decoration: underline;
    color: #74b5fc;
}

/* buttons */

.main-header button{
    color: #fff;
    padding: 6px 35px;
    margin: 15px;
}
.btns-header button:hover{
    background-color: #fff;
    color: #254a99;
    
}

@media(max-width:992px){
    .btns-header{
      display: flex;
      justify-content: center;
    }
  }




.intro-img{
    width: 100%;
    min-height: 250px;
    overflow: hidden;  

}

