#footer {
  background-color: #254a99;
  color: #fff;
  padding: 40px 0 40px 0;
  position: relative;
}

/* start upper footer */
p,
li {
  font-size: 12pt;
  color: rgba(255, 255, 255, 0.884);
}
h6,
h2 {
  padding-bottom: 22px;
}
h6 {
  font-weight: bold;
}
#footer ul {
  padding: 0;
}
#footer ul li {
  list-style-type: none;
  padding: 7px 0;
}

#footer .blogs li {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  border-radius: 50%;
  margin: 5px;
  background-color: #2d55ac;
}
#footer .blogs li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.subscribe {
  display: inline-block;
}
button.subscribe {
  background-color: #2d55ac;
  color: #fff;
  border: none;
}
/* end of upper footer */

/* upper footer */
.footer-bottom {
  background-color: #20428a;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.to-top {
  background-color: #4270d8;
  width: 30px;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 15px;
  color: #fff;
}
.to-top:focus {
  border: none;
  outline: none;
}
