<footer id="footer">
  <div class="container">
    <div class="row pb-5">
      <div class="col-lg-3">
        <h2>W E L C O M E</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque,
          beatae sapiente distinctio iste optio ex saepe corrupti labore eos
          error. Numquam sint, voluptatem maiores sapiente neque saepe ullam
          eaque nisi?
        </p>
      </div>
      <div class="col-lg-3">
        <h6>USEFUL LINKS</h6>
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Services</li>
            <li>Terms of services</li>
            <li>Privecy policy</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h6>CONTACT US</h6>
        <ul>
            <li>A108 Adam Street</li>
            <li>New York, NY 535022</li>
            <li>United States</li>
            <li>Phone: +1 5589 55488 43</li>
            <li>Email: info@example.com</li>
        </ul>
        <div class="row">
            <ul class="blogs">
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
             </ul>
            
        </div>
      </div>
      <div class="col-lg-3">
        <h6>OUR NEWSLETTER</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet facere obcaecati hic modi culpa velit laudantium enim adipisci, sunt nemo illo, magni excepturi assumenda doloremque, fugiat blanditiisfugiat blanditiisfugiat blanditiis.</p>
        <div class="row">
            <form >
                <input class="subscribe" type="text">
            <button class="subscribe">subscribe</button>
            </form>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="footer-bottom text-center">
            <p >© Copyrights. All Rights Reserved </p>
        </div>
      </div>
  </div>
  
  
</footer>
