<section  id="about">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>About Us</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          debitis saepe iusto, architecto possimus atque magnam!
        </p>
      </div>
    </div>
    <article class="row">
      <div class="col-lg-6">
        <p class="m-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus
          libero qui ex laudantium voluptas necessitatibus architecto
        </p>
        <ul>
          <li class="row">
            <div
              class="circle col-2 d-flex align-items-center justify-content-center"
            >
              <span><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
            </div>
            <div class="col-10">
              <h5>Tempora officia</h5>
              <p>
                dolor sit amet consectetur adipisicing elit. Esse ducimus libero
                qui.
              </p>
            </div>
          </li>
          <li class="row">
            <div
              class="circle col-2 d-flex align-items-center justify-content-center"
            >
              <span><i class="fa fa-image" aria-hidden="true"></i></span>
            </div>
            <div class="col-10">
              <h5>ducimus libero</h5>
              <p>
                dolor sit amet consectetur adipisicing elit. Esse ducimus libero
                qui.
              </p>
            </div>
          </li>
          <li class="row">
            <div
              class="circle col-2 d-flex align-items-center justify-content-center"
            >
              <span><i class="fa fa-line-chart"></i></span>
            </div>
            <div class="col-10">
              <h5>dolor sit</h5>
              <p>
                dolor sit amet consectetur adipisicing elit. Esse ducimus libero
                qui.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid" 
          loading="lazy"
          src="../../assets/images/about-img.svg"
          alt="about1"
        />
      </div>
    </article>
    <article class="row">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          loading="lazy"
          src="../../assets/images/about-extra-1.svg"
          alt="about2"
        />
      </div>
      <div class="col-lg-6">
        <h4>
          voluptas necessitatibus architecto neque impedit aliquid ipsam, maxime
          dicta fugit rerum corrupti.
        </h4>
        <p class="m-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus
          libero qui ex laudantium voluptas necessitatibus architecto neque
        </p>
        <p class="m-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus
          libero qui ex laudantium voluptas necessitatibus architecto neque
        </p>
      </div>
    </article>
    <article class="row">
      <div class="col-lg-6">
        <h4>
          voluptas necessitatibus architecto neque impedit aliquid ipsam, maxime
          dicta fugit rerum corrupti.
        </h4>
        <p class="m-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus
          libero qui ex laudantium voluptas.
        </p>
        <p class="m-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus
          libero qui ex laudantium voluptas necessitatibus architecto neque
          impedit aliquid ipsam, maxime dicta fugit rerum corrupti.
        </p>
        <p class="m-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ducimus
          libero qui ex laudantium voluptas necessitatibus architecto neque
          impedit aliquid ipsam, maxime dicta fugit rerum corrupti.
        </p>
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid"
          loading="lazy"
          src="../../assets/images/about-extra-2.svg"
          alt="about3"
        />
      </div>
    </article>
  </div>
</section>
