#portfolio{

}
#portfolio h2{
    color:rgba(0, 0, 0, 0.781);
}

#portfolio button{
    padding: 6px 12px;
    margin: 10px;
   


}
#portfolio button:first-of-type{
    background-color:  #427bff;
    color: #ecf5ff; 
}
#portfolio .butn{
    background-color: #ecf5ff;
    color: #427bff;   
}

#portfolio .butn:hover{
    background-color:  #427bff;
    color: #ecf5ff; 

}


.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 640px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }