<section class="choose-us">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="heading">Why choose Us?</h2>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
          Sapiente debitis saepe iusto, architecto possimus atque magnam!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center choose-info">
        <h3 class="pt-3">
          <span><i class="fa fa-diamond"></i></span>
        </h3>
        <h3>corporis dolarem</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum
          ducimus ut, harum exercitationem perspiciatis.
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="col-md text-center choose-info">
        <h3 class="pt-3">
          <span><i class="fa fa-language"></i></span>
        </h3>
        <h3>dolarem corporis</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum
          ducimus ut, harum exercitationem perspiciatis.
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="col-md text-center choose-info">
        <h3 class="pt-3">
          <span><i class="fa fa-qrcode"></i></span>
        </h3>
        <h3>corporis dolarem</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum
          ducimus ut, harum exercitationem perspiciatis.
        </p>
        <a href="#">Read more</a>
      </div>
    </div>
    <div class="row mt-5 text-center pb-5">
      <div class="col-md-6 col-lg-3">
        <h1>274</h1>
        <p>clients</p>
      </div>
      <div class="col-md-6 col-lg-3">
        <h1>421</h1>
        <p>Projects</p>
      </div>
      <div class="col-md-6 col-lg-3">
        <h2>1,364</h2>
        <p>Hours of support</p>
      </div>
      <div class="col-md-6 col-lg-3">
        <h1>18</h1>
        <p>Hard workers</p>
      </div>
    </div>
  </div>
</section>
