<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="p-5">Testimonials</h2>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <owl-carousel-o [options]="customOptions">
 
                    <ng-container *ngFor="let slide of testemonials">
                      <ng-template carouselSlide [id]="slide.id">
                          <div class="row">
                            <div class="col-md-2 offset-md-2">
                                <img class="img-fluid rounded-circle avatar-img" [src]="slide.avatar" [alt]="slide.alt" [title]="slide.email">
                              </div>
                              <div class="col-md-6">
                                  <h2>{{slide.first_name}} {{slide.last_name}}</h2>
                                  <p class="text-muted">{{slide.email}}</p>
                                  <p class="testim-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel ut soluta autem rerum labore facilis, illo quibusdam asperiores voluptatem esse in nulla</p>
                              </div>
                          </div>
                         
                      </ng-template>
                    </ng-container>
                 
                  </owl-carousel-o>
            </div>
            
        </div>
    </div>
</section>